* {
  margin: 0 ;
  padding: 0 ;
}

body {
  background-color: #fefefe;
}

/* Nav */
.home .nav-link {
	color:#00a98f ;
	font-weight: 700;
	padding: 15px;
	text-align: center;
}

li {
  list-style-type: none;
}

.text-success {
	color: #00a98f !important;
}

.signin {
	font-weight: 600;
}

.question{
	font-weight: 700;
}

.hr-text {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hr-text span {
  position: absolute;
	text-align: center;
  top: -11px;
  background: #fff;
  padding: 0 20px;
  font-weight: bold;
  font-size: 16px;
}
